<!DOCTYPE html>
{% extends 'frame_index.html' %}
{% load static %}

{% block content %}
    <!-- Section:Hero -->
    <section id="hero" class="row hero">
        <div class="container-fluid hero-logo">
            <img src="{% static './img/logo.png' %}" class="img-fluid" alt="hero-logo">        
        </div>     
    </section>
    <!-- End Section:Hero -->
    <!-- Section: Select Mode -->
    <section id="mode-select" class="row">
        <div class="container-fluid mode-viewer">
            <img src="{% static './img/mode-select-bg.png' %}" class="img-fluid mode-viewer-bg" alt="search-icon">
            <img src="{% static './img/search-icon.png' %}" class="img-fluid mode-viewer-icon" alt="search-icon">
            <button class="btn mode-button" role="navigation" aria-label="Go to Search" onclick="goToSearch()">
                Search
            </button>    
        </div>
        <div class="container-fluid mode-editor">
            <img src="{% static './img/mode-select-bg.png' %}" class="img-fluid mode-editor-bg" alt="search-icon">
            <img src="{% static './img/editor-icon.png' %}" class="img-fluid mode-viewer-icon" alt="editor-icon">
            <button class="btn mode-button" role="navigation" aria-label="Go to Editor" onclick="goToSearch()">
                Editor
            </button>    
        </div>               
    </section>
    <!-- End Section: Select Mode -->
{% endblock %}
                
            