/*--------------------
# 1. Global Variables
- Where possible, use these variables as the default values throughout the whole site, to keep consistency. 
- Not all values are expected to be used for every page.  
--------------------*/ 
/* Global Fonts */
:root{
    font-family: 'Trebuchet MS', sans-serif;
    --heading-font: "Montserrat", sans-serif;
    --nav-font: "Lato", sans-serif;
}

/* Global Colours */
[palette-theme="light"]{
    --default-color: #ccceeb;
    --default-color-light: #eeeeff;
    --default-color-text: #19191c;
    --default-color-outline: #504f4f;
    --primary-color: #f12d2d;
    --primary-color-light: #fa5151;
    --secondary-color: #4f33bb;
    --secondary-color-light: #7857fe;
    --contrast-color: #5b811e;
}

:root, [palette-theme="dark"]{
    --default-color: #131531;
    --default-color-light: #2f2f45;
    --default-color-text: #ffffff;
    --default-color-outline: #504f4f;
    --primary-color: #f12d2d;
    --primary-color-light: #fa5151;
    --secondary-color: #3a258d;
    --secondary-color-light: #7857fe;
    --contrast-color: #5b811e;
}

/* Scroll Behaviour */
:root{
    scroll-behavior: smooth;
}

/*----------------------
# 2. General Configuration
- Use this section to configure the DEFAULT format of the general/repeated elements of the site, such as body, header, footer. 
- NOT ADVISED to include page specific values under this section. In a similar vein, applying custom formatting that deviates from the DEFAULT should be considered carefully for impact on user consistency 
------------------------*/
/* Body */
body{
    background-color: var(--default-color-light);
    font-family: var(--default-font);
    color: var(--default-color-text);
    font-size: 26px;    
    opacity: .9;
}

/* Header */
.header{
    background-color: var(--secondary-color);
    height: 60px;
}

.header-text{
    font-family: 'Brush Script MT', cursive;
    width:auto;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-text{
    animation-name: opacity-fade-in;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-duration: .5s;
}

/* Footer */
.footer{
    width: 80%;
    height: 20px;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

/*--------------------
# 3.Page-Specific Content
- Use this section for all page specific content.
- Where applicable, consider breaking up sections by page, e.g. by page
--------------------*/

/********** index.html***********/
/* Navbar */
.navbar{
    background-color: var(--default-color-outline);
    height:40px;
} 
.navbar img{
    margin:auto;
    object-fit: cover;
    height:100%;
}

/* Hero/Title */
.hero{
    max-width: 80%;
    display: grid;
    margin: auto;
    height: 120px;
    padding: 50px;
    animation-name: opacity-fade-in;
    animation-duration: .6s;
}
.hero-logo{
    height: 100%;
    display: flex;
    justify-content: center;
    animation-name: opacity-fade-in;
    animation-fill-mode: both;
    animation-duration: 1s;
    object-fit: cover;
}

/* Mode Viewer/Editor */
.mode-viewer, .mode-editor{
    background-color: var(--default-color-light);
}

.mode-editor, .mode-viewer{
    animation-name: opacity-fade-in;
    animation-fill-mode: both;
    animation-delay: .3s;
    animation-duration: .5s;
}

.mode-viewer, .mode-editor{
    position: relative;
    display: grid;
    margin-bottom: 10%;
    height: 250px;
    width: 350px;
    animation-name: opacity-fade-in;
    animation-fill-mode: both;
    animation-delay: .5s;
    animation-duration: 1s;
}

.mode-viewer-icon, .mode-editor-icon{
    position: absolute;
    object-fit: cover;
    left:0;
    right: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    height: 100%;
}

.mode-viewer-bg{
    transform: scaleX(-1);
}

.mode-editor-bg, .mode-viewer-bg{
    position: absolute;
    height: 150%;
}

.btn:hover{
    background-color: var(--secondary-color-light);
    transition: background-color .2s;
}

.mode-button{
    border-style: solid;
    border-color: var(--secondary-color-light);
    border-width: 1px;
    border-radius: 50px;
}
.mode-button{
    background-color: var(--default-color-light);
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;   
    margin-top: 60%;
    height: 20%;
    width: 50%;
    color: var(--default-color-text);
    z-index: 1000;
}

@keyframes opacity-fade-in {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }    
}





