<!DOCTYPE html>
{% extends 'summary.html' %}
{% load static %}

{% block addscript %}
<script src="{% static './js/caseview.js' %}"></script>
<script src="{% static './js/classes.js' %}"></script>
<script src="{% static './js/graph.js' %}"></script>
<script>
    this.addEventListener("load", function(){
        loadGraphView().then((response) => {
            if(!response){
                console.log("Exception trace: loadCaseView()");
                return;
            };
        });
    });
</script>
{% endblock %}

{% block view %}        
    <!-- Graph Content -->
    <div class="row border m-auto">
        <div class="col-8 border overflow-hidden textlogo" id="colmain">
        </div>
        <div class="col-4 bg-light border textlogo" id="popoutbody">
        </div>
    </div>
    <div class="row border m-auto p-2">
        <div class="d-flex justify-content-center" id="graphlist"></div>
    </div>
{% endblock %}


