<!DOCTYPE html>
{% extends 'summary.html' %}
{% load static %}

{% block addscript %}
<script src="{% static './js/line.js' %}"></script>
<script src="{% static './js/caseview.js' %}"></script>
<script>
    this.addEventListener("load", function(){
        loadLineView("{{ case_id }}").then((response) => {
            if(!response){
                console.log("Exception trace: loadCaseView()");
                return;
            };
        });
    });
</script>
{% endblock %}

{% block view %}
    <!-- Section: Line Content -->
    <section id="summary" class="row summary">
        <ol class="col col-main" id="col-main" aria-label="Line-Content">
        </ol>
        <div class="col-4 h-100 overflow-auto popout-body" id="popout-body" aria-label="Annotation Breakdown">
        </div>
    </div>
    <!-- End Section: Line Content -->
{% endblock %}

