<!DOCTYPE html>
{% extends 'summary.html' %}
{% load static %}

{% block addscript %}
<script src="{% static './js/line.js' %}"></script>
<script src="{% static './js/caseview.js' %}"></script>
<script>
    this.addEventListener("load", function(){
        loadLineView().then((response) => {
            if(!response){
                console.log("Exception trace: loadCaseView()");
                return;
            };
        });
    });
</script>
{% endblock %}

{% block view %}
    <!-- Line Content -->
    <div class="row border m-auto">
        <div class="col-8 border overflow-auto textlogo" id="colmain">
        </div>
        <div class="col-4 bg-light border textlogo" id="popoutbody">
        </div>
    </div>
{% endblock %}

