<!DOCTYPE html>
{% extends 'frame_index.html' %}
{% load static %}

{% block addscript %}
<script src="{% static './js/caseview.js' %}"></script>
<script src="{% static './js/summary.js' %}"></script>
<script src="{% static './js/classes.js' %}"></script>
<script src="{% static './js/line.js' %}"></script>
<script src="{% static './js/graph.js' %}"></script>
<script>
    this.addEventListener("load", function(){
        loadSummaryView().then((response) => {
            if(!response){
                console.log("Exception trace: loadCaseView()");
                return;
            };
        });
    });
</script>
{% endblock %}

{% block content %}        
<!-- Navbar -->
    <nav class="navbar m-auto navbar-expand-md bg-light border textlogo">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="btn btn-light border-end" type="button" id="navbarBtnOverview" onclick="goToSummary()">Overview</li>
                    <li class="btn btn-light border-end"  type="button" id="navbarBtnLine" onclick="goToLine()">Line</li>
                    <li class="btn btn-light border-end" type="button" id="navbarBtnGraph" onclick="goToGraph()">Graph</li>
                </ul>
            </div>                
        </div>
    </nav>

    <!-- Summary Content -->
    {% block view %}
    <div class="row border m-auto">
        <div class="col-8 border overflow-hidden textlogo" id="colmain">
        </div>
        <div class="col-4 bg-light border textlogo" id="graphpreview">
        </div>
    </div>
    {% endblock %}
{% endblock %}

