<!DOCTYPE html>
{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml"
lang="en-GB" xml:lang="en-GB">
<head>
<meta charset="UTF-8"/>
<title>Casmoe - Test Page</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.19.4.css">
<script src="{% static './js/ajax_handler.js' %}"></script>
<script src="{% static './js/file_handler.js' %}"></script>
<script src="{% static './js/classes.js' %}"></script>
<script src="{% static './js/index.js' %}"></script>
<script src="{% static './js/lines.js' %}"></script>
<script src="{% static './js/caseview.js' %}"></script>
<script src="{% static './js/graphs.js' %}"></script>
<script src="{% static './js/review.js' %}"></script>


</head>

<html>
    <body>
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
        <script src="https://code.jquery.com/qunit/qunit-2.19.4.js"></script>

        <script>
            QUnit.module("file_handler.js", function(){
                QUnit.test("getCases", function(assert){
                    getCases("").then((result) => {
                        assert.equal(result, "");
                    })
                });
            });

            QUnit.module("index.js", function(){
                QUnit.test("Clear Element Children", function(assert){
                    assert.equal(clearElementChildren(""), false);
                });

                QUnit.test("addCorpusEventListener", function(assert){
                    assert.equal(addCorpusEventListener(""), false);
                });
            });

            QUnit.module("lines.js", function(){
                QUnit.test("fillAnnotations", function(assert){
                    assert.equal(fillAnnotations("", [], 0), false);
                });
            });

            QUnit.module("caseview.js", function(){
                QUnit.test("drawCaseSentences", function(assert){
                    assert.equal(drawCaseSentences("", []), false);
                });

                QUnit.test("clearChild", function(assert){
                    assert.equal(clearChild(""), false);
                });
            });  
            
            QUnit.module("classes.js/graphObj", function(){
                let testData = [
                    {judge: "test"}, {judge: "test"}, {judge: "test2"},
                ];

                QUnit.test("new graphObj", function(assert){
                    var testObj = new GraphObj(testData);
                    assert.deepEqual(testObj.judgeNames, ["test", "test2"]);
                    assert.equal((testObj.judgeList)[0].name, "test");
                    assert.equal((testObj.judgeList)[0].numOfLines, 2);
                    assert.deepEqual(testObj.judgeFractions, [67, 33]);
                });
            })

            QUnit.module("classes.js/judge", function(){
                QUnit.test("new judge", function(assert){
                    var testObj = new Judge;
                    testObj.setName("test");
                    assert.equal(testObj.name, "test");
                    testObj.setNumOfLines(5); 
                    assert.equal(testObj.numOfLines, 5);
                });                
            });

            QUnit.module("review.js", function(){
                QUnit.test("splitKeys", function(assert){
                    assert.deepEqual(splitKeys(["potato,fries"]), [["potato", "fries"]]);
                    assert.deepEqual(splitKeys(["potato-fries"]), [["potato-fries"]]);
                });
                QUnit.test("getMatchingChanges", function(assert){
                    const testKeys = [["1","2"]];
                    const testData1 = [{case_id: "1", sentence_id: "2"}];
                    const testData2 = [{case_id: "1", sentence_id: "1"}];
                    assert.deepEqual(getMatchingChanges(testData1, testKeys), [{case_id: "1", sentence_id: "2"}]);
                    assert.deepEqual(getMatchingChanges(testData2, testKeys), []);
                });
                QUnit.test("changesToCSV", function(assert){
                    const testData = [["hello", "dude"],["how", "are", "you"]];
                    assert.deepEqual(changesToCSV(testData), "hello,dude," + "\n" + "how,are,you," + "\n");
                });
            });
            // QUnit.module("graphs.js", function(){
            //     
            // });
        </script>
    </body>
</html>    