<!DOCTYPE html>
{% extends 'frame_editor.html' %}
{% load static %}

{% block addscript %}
<script src="{% static './js/index.js' %}"></script>
{% endblock %}
    

{%block content %}
<div class="row">
    <div id="homebanner" class="row p-4 m-auto my-1 rounded-2">
        <div class="text-center p-2">
            <div class="p-2 text-light textlogo" id="textbanner">CASMOE - Case/ASMO Editor</div>
            <div class="p-2 text-light textlogo">Step 1. Select .csv file:</div>
            <div class="input-group">
                <input type="file" class="form-control" id="corpusfield" accept=".csv" placeholder="File Directory...">
            </div>
        </div>
    </div>            
    <div class="row p-2 m-auto border" id="resultwrapper">
        <div class="col-8 overflow-auto border textlogo" id="resultlist">
            <div>-- Cases shown here --</div>
        </div>                
        <div class="col-4 border textlogo">
            <div class="bg-success p-2 m-auto rounded-1 text-light">Case Preview:</div>
            <div class="overflow-auto" id="resultpreview">
                <div>-- Preview here --</div>
            </div>
        </div>
    </div>            
    <div class="row p-2 m-auto bg-body-tertiary text-center border rounded-2 textlogo" id="tocaseview">
        <div class="p-1" id="navtext"> Selected Case: None</div>
        <button type="button" class="btn btn-light border p-2 m-2 disabled" id="navbutton" onclick="goToEditorCaseView()">Step 2. Go To Case -></button>
    </div>
</div>
{% endblock %}
