<!DOCTYPE html>
{% extends 'frame_index.html' %}
{% load static %}

{% block addscript %}
<script src="{% static './js/index.js' %}"></script>
<script>
    this.addEventListener("load", function(){
        if(!addCorpusEventListener("corpusfield")){
            console.log("Exception trace: addCorpusEventListen()");
            return;
        }
    });
</script>
{% endblock %}

{%block content %}
    <!-- Section: Hero -->
    <section id="hero" class="row hero">
        <div class="container-fluid search-logo">
            <img src="" class="img-fluid" alt="search-logo"> 
        </div>
        <div class="container-fluid search-input">
            <label for="corpusfield" id="search-label" class="search-label">Step 1. Select .csv file:</label>
            <div class="input-group" aria-labelledby="search-label" role="search">
                <input type="file" class="form-control" id="corpusfield" accept=".csv" placeholder="File Directory...">
            </div>
        </div>
    </section>
    <!-- End Section: Hero -->
    <!-- Section: Case List -->
    <section id="case-list" class="row">
        <div class="container-fluid case-list">
            <div class="row">
                <div class="col" id="resultlist">
                    <div>-- Cases shown here --</div>
                </div>                
                <div class="col-4 border textlogo">
                    <div class="bg-success p-2 m-auto rounded-1 text-light">Case Preview:</div>
                    <div class="overflow-auto" id="resultpreview">
                        <div>-- Preview here --</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section: Case List -->
    <!-- Section: To Case View -->                
    <section id="to-case-view" class="row" aria-describedby="indicator-case" aria-labelledby="navigation-button">
        <div class="container-fluid to-case-view">
            <label for="navigation-button" class="indicator-case" id="indicator-case"> Selected Case: None</h2>
            <button type="button" class="btn disabled" id="navigation-button" role="navigation" onclick="goToSummary()">Step 2. Go To Case -></button>
        </div>
    </section>
    <!-- End Section: To Case View -->
{% endblock %}

