/*Home*/
/* .main {
    overflow: hidden;
}

.btn {
    max-width: 15vw;
} */

.Root {
    max-width: 1000px;
}

/*Index*/

/*LINE*/
#main #sidebar #edit{
    min-height: 100vh;
    transition:.5s;
}

#mainbody{
    overflow-y:scroll;
    height:90vh;
}

#edit {
    position:fixed;
    top:0;
    right:0;
    opacity:0%;
    transition:.4s;
}

#toggle {
    position:fixed;
    max-width:10vw;
    bottom:5vh;
    right: 5vw;
}

#editbody{
    overflow-y:scroll;
    max-height:80vh;
}

#popout{
    position: fixed;    
    top: 5%;
    right: 0;      
    width: 0vw; 
    max-width: 400px;
    opacity: 0%;
    transition: .5s;     
}

#popoutbody{
    overflow-y:scroll;
    max-height: 70vh;
}

#btnedit {
    position: fixed;
    right:5vh;  
    bottom:5vh;
    max-width: 15vw;
    height: 30px;
}

/*ASMO*/
#Quotes{
    font-style: italic;
}

#CaseChart{
    max-height:80vh;
    max-width:40vw;
    align-content: center;
}
